$main-content-width: 1040px;
$scroll-event-path: 400px;

/* image-section */
.main-image {
  position: relative;
  padding-bottom: 30%;
}

.image {
  // background: url(https://d32dbz94xv1iru.cloudfront.net/resize/1/images/events/by_uuid/6e/6e85c5a6-7542-48b6-a601-b54789c954eb-1501x900.jpg?width=1600) center 40% / cover no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.main-image-content-up {
  padding: 2rem 0;
  &::after {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main-image-content-down {
  display: none;
}

.tag {
  margin: 1rem;
}

.main-image-title {
  display: block;
  font-size: 5rem;
  margin: 5px 16px;
  color: #fff;
  text-shadow: black 1px 2px 5px;
  z-index: -1;

  // &::before{
  //   background: linear-gradient(rgba(65,77,87,0),rgba(65,77,87,.7));
  //   bottom: 0;
  //   content: '';
  //   height: 70%;
  //   left: 0;
  //   position: absolute;
  //   width: 100%;
  // }
}

/* info-section */
.info-section {
  padding: 2rem;
  height: 21rem;
}
.info-section-wrapper {
  display: flex;
  flex-direction: row;
}
.info-contents {
  padding: 2rem 0;
  flex-grow: 5;
}

.info-button {
  // position: relative;
  padding: 2rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // top: -18rem;
  // transform: translateY(0px);
  // transition: transform .3s linear;
  & a {
    background-color: $blue;
    width: 100%;
    padding: 2rem 0;
    color: white;
    font-size: 2rem;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.fade-in {
    // transform: translateY(200px);
    // transition: transform .3s linear;
    .hidden {
      // transition: opacity .01s linear;
      // opacity: 1;
    }
  }
}

.detail-card {
  position: absolute;
}

.detail-card-content {
  background: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.1);
  width: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
  opacity: 0;
  display: flex;
  flex-direction: column;
}
.detail-card-heading {
  font-size: 1.8rem;
  color: #696969;
  padding: 1rem 0;
}

.info-button a:hover {
  color: #fff;
  background: darken($blue, 15%);
}
.detail-card-content.detail-bookmark{
    height: 100%;
    padding: 0;
    margin-top: -10px;
    margin-bottom: 10px;
    background: none;

  & button{
    font-weight: bolder;
    padding: 16px 0;
    background: $grey-lo;
    color: $white;
    font-size: 1.6rem;
    align-self: flex-start;
    border-radius: 2px;
    width: 100%;

    & .fa-bookmark{
      color: $white;
      margin-right: 14px;
    }
  }
}

/* description-section */


.description-section {
  padding: 2rem 0;
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: space-between;
}
.description-contents-text {
  line-height: 3.5rem;
}
@media screen and (min-width: 781px) {
  .info-button {
    position: relative;
    top: -18rem;
    transform: translateY(0px);
    transition: transform .3s linear;
    
    & a {
      width: 100%;
    }
    &.fade-in {
      transform: translateY(200px);
      transition: transform .3s linear;
      .hidden {
        transition: opacity .01s linear;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 780px) {

  /* image-section */

  .image::after {
   display: none;
  }

  .main-image-content-up {
    display: none;
    &::before{
      background: linear-gradient(rgba(65,77,87,0),rgba(65,77,87,.7));
      bottom: 0;
      content: '';
      height: 70%;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .main-image-content-down {
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 1rem;
    display: block;

    & .main-image-title {
      font-size: 3rem;
      color: #000;
      text-shadow: none;
    }
  }

  /* info-section */

  .info-section {
    padding: 0rem;
    & .card-list {
      padding: 2rem;
    }
  }
  .info-section-wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .info-button {
    display: block;
    position: fixed;
    padding: 0;
    width: 100%;
    bottom: 0;
  }
  .info-button a {
    width: 100%;
    margin-left: 0;
    bottom: 0;
    text-decoration: none;
  }


  .description-contents {
    padding-right: 2rem;
    // width: 100%;
  }
  .info-section-wrapper {
    width: 100%;
  }
  .detail-card-content {
    display: none;
  }
  .detail-card-content.detail-bookmark{
    display: block;
    width: 100%;
    opacity: 1;
    margin: 0;
  }
  .detail-card-content.detail-bookmark button {
    width: 100%;
    height: 60px;
    font-size: 2rem;
    border-radius: 0;
  }

    /* review-section */

  .review-section {
    padding-right: 0px;
    width: 100%;
    margin: 0 auto;
  }
  .status-wrapper {
    padding-right: 2rem;
  }





  textarea {
    margin-bottom: 0;
  }

  .review {
    padding-right: 0px;
  }

  .review-input {
    > button {
      width: 100%;
    }
    > textarea {
      margin-bottom: 0px;
    }
  }
}
