.loading
    display: inline-block
    margin: 2rem
    color: #bbb
    -webkit-animation: spin 1s linear infinite
     -moz-animation: spin 1s linear infinite
       -o-animation: spin 1s linear infinite
          animation: spin 1s linear infinite

    @keyframes spin
        100%
            transform: rotate(359deg)
