.modal-heading
  position: absolute
  left: -999em
.modal-body
    padding-top: 6rem

.ss-navigateleft
    font-size: 26px
    color: #2e2f33

.result-fail
    color: #f01160


.ss-delete
    font-size: 30px
    color: #2e2f33

.open-modal
   width : 200px
   height : 50px

.result-fail
    color: #ef0c67

label
    position: absolute
    left: -999em

.modal
    color: #44474b

.modal-background
    overflow: hidden
    z-index: 100
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: rgba(20, 19, 19, 0.9)

.modal-content
    +set-modal-content(40rem, 70rem)
    

.modal-content-md
    +set-modal-content(44rem, 48rem)
    


.modal-prev-btn
    +set-modal-btn(left)

.modal-close-btn
    +set-modal-btn(right)


.modal-header
    position: relative
    padding: 3rem 4rem 0

    & h2
        font-size: 2.4rem
        font-weight: bold
        padding-top: 3rem
        position: relative
        // text-align: center

    & p
        padding-top: 1rem
        line-height: 2



.modal-body
    height: auto
    display: flex
    flex-direction: column
    justify-content: space-around
    padding: 0 2rem 2rem

    & input
        margin-bottom: 1.2rem
        width: 70%
        height: 4rem
        padding-left: 10px


.modal-footer
    position: fixed
    bottom: 0
    width: 100%
    height: 15%
    background: #647CE1
    // display contents in the middle
    display: flex
    flex-direction: column
    justify-content: center

    & a,a:link
        padding: 2rem 10rem
        font-size: 1.4rem
        font-weight: bold
        text-decoration: none
        color: #2f2a2c

    & a:hover
        color: #ed2b79

// button for closing modal window
.modal-close
    position: absolute
    top: 1rem
    right: 1rem
    // remove button style
    background: none
    border: 0
    color: #463a3a
    cursor: pointer
    padding: 5px 8px

.social-login
    padding: 1rem
    margin-bottom: 1rem

    & button
        color: #fff
        background: #4450d1
        border-radius: 2px
        width: 78%
        padding: 1.4rem 0
        cursor: pointer

.login-detail
    padding: 1rem 0
    & p
        padding: 0.8rem 0
        & a,a:link
            padding: 2rem 1rem
            text-decoration: none
            color: #2f2a2c
            font-weight: bold
        & a:hover
            color: #ed2b79

.modal-footer button
    color: #fff
    text-transform: uppercase
    letter-spacing: 2px
    font-size: 1.6rem

.detail-md
    & .modal-header
        padding-bottom: 1rem

.user-detail 
    font-size: 1.4rem
    margin: 0 30px
    padding: 50px 45px
    border-radius: 3px
    // position: relative

    & label
        position: relative
        left: 0
        width: 100%
        text-align: left
        display: inline-block
        font-weight: lighter
        color: $black
        margin-bottom: 10px

    & input
        border: 0
        border: 2px solid $white
        font-size: 1.4rem
        color: #4450d1
        width: 100%
        font-weight: bolder
        background: rgba(228, 231, 238, 0.7)
        text-align: left
        margin-bottom: 15px
        


@media screen and (max-width: 480px)
    .modal-content-md
        width: 100%
        height: 100%

    

